<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-12 mt-3">
          <% if (action != "undefined" && action == "edit") { %>
          <div class="alert alert-success">
            <p class="mb-0">Blog başarıyla güncellendi.</p>
          </div>
          <% } %> <% if (action != "undefined" && action == "create") { %>
          <div class="alert alert-success">
            <p class="mb-0">Blog başarıyla oluşturuldu.</p>
          </div>
          <% } %> <% if (action != "undefined" && action == "delete") { %>
          <div class="alert alert-success">
            <p class="mb-0">Blog başarıyla silindi.</p>
          </div>
          <% } %>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th style="width: 130px" scope="col">resim</th>
                <th scope="col">başlık</th>
                <th>Kategori</th>
              </tr>
            </thead>
            <tbody>
              <% blogs.forEach(blog => { %>
              <tr>
                <td><%= blog.id %></td>
                <td>
                  <img
                    src="/assets/images/<%= blog.resim %>"
                    class="img-fluid"
                    alt=""
                  />
                </td>
                <td><%= blog.baslik %></td>
                <td>
                  <%= blog.category ? blog.category.name : 'Kategori Yok' %>
                </td>
                <td>
                  <a
                    class="btn btn-sm btn-primary"
                    href="/admin/blogs/<%= blog.id %>"
                    >edit</a
                  >
                  <a
                    class="btn btn-sm btn-danger"
                    href="/admin/blogs/<%= blog.id %>/delete"
                    >delete</a
                  >
                </td>
              </tr>

              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
